:9090 {
    reverse_proxy / prometheus:9090 {

        }

    handle_errors stderr
    tls off
}

:9093 {
    reverse_proxy / alertmanager:9093 {

        }

    handle_errors stderr
    tls off
}

:9094 {
    reverse_proxy / unsee:8080 {

        }

    handle_errors stderr
    tls off
}

:3000 {
    reverse_proxy / grafana:3000 {
            websocket
        }

    handle_errors stderr
    tls off
}

